#consoleSelect {

}

#cupBox {
	padding: 20px 0px;
}

#cupButton {
}

#driverTable {
	padding: 20px 0px;
}

.driverRow {
	padding: 0px 0px 30px 0px;
}

.driverRow div img {
}

#driverButton img {

}

.orangeborder {
	border: 2px solid #ff980f;
}
